<ion-content>
    <div class="login-content">
        <!-- Login form -->
        <form class="list-form">
            <ion-item>
                <ion-label color="success" position="floating">
                    <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                    Email
                </ion-label>
                <ion-input type="email" [(ngModel)]="id" name="correo"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="success" position="floating">
                    <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                    Password
                </ion-label>
                <ion-input type="password" [(ngModel)]="pass" name="password"></ion-input>
            </ion-item>
        </form>
        <p text-left ion-text tappable></p>
    </div>
    <div>
        <ion-button color="success" float-right (click)="login()">
            <ion-icon name="log-in"></ion-icon>
            Entrar
        </ion-button>
    </div>
</ion-content>