<ion-header no-border color="dark">
    <ion-button name="undo"></ion-button>
    <ion-title text-center>
        <ion-icon name="lock"></ion-icon>
        Iniciar sesión
    </ion-title>
</ion-header>

<ion-content padding color="dark">
    <p>
        Por favor, ingrese su correo electrónico en el campo de abajo. Recibirá un mensaje con tu nueva contraseña.
    </p>
    <ion-item color="dark">
        <ion-label color="success" position="floating">
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Correo
        </ion-label>
        <ion-input type="email" name="email"></ion-input>
    </ion-item>
    <ion-button>
        <ion-buttons>Enviar</ion-buttons>
    </ion-button>
</ion-content>