#map {
    height: 100%;
    width: 100%;
    position: absolute;
}

#card-content {
    padding: 0px !important;
}

#infoConductor {
    bottom: 20px !important;
    position: fixed;
    width: 100%;
}

#buscador {
    bottom: 20px !important;
    position: static;
    top: 0%;
    width: 100%;
}